<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <h6><%= message.user.show_full_name %></h6>
      <p><%= message.body %></p>
      <small class="text-muted"><%= message.created_at %></small>
    </div>
  </div>
</li>