<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand logo" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/32/Brandeis_University_seal.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>Rate My Professor</span>
    </a>

    <div class="collapse navbar-collapse nav-content" id="navbarToggler">
        <form class="form-inline my-2 my-lg-0 search-form d-flex justify-content-center">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="d-flex justify-content-end nav-links">
            <a class="nav-item nav-link left-align" href="#">Make A Review</a>
            <% if logged_in? %>
            <div class="dropdown nav-item nav-link left-align row">
                <div class="col">
                    <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi <%= @user.first_name  %>!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <button class="dropdown-item" type="button">View Profile</button>
                        <%= button_to  "Log Out", "/logout", method: :get, class: "dropdown-item" %>
                    </div>
                </div>
            </div>

            <% else %>
            <%= link_to  "Sign In", "/login", class: "nav-item nav-link left-align" %>
            <% end %>
        </div>
    </div>
</nav>