<div class="messenger-container row">
	<div class="users-container w-25 h-100">
		<div class="card rounded-0">
			<div class="card-header bg-transparent border border-light d-flex align-items-center justify-content-between" style="height: 75px;" id="users-header">
				<span class="h2">My Inbox</span>
			</div>
			<div class="card-body m-0 p-0">
				<div class="list-group overflow-auto h-100" id="users-list">
					<%= render 'users_list', users: @users %>
				</div>
			</div>
		</div>
	</div>
	<div class="w-75 h-100" id="conversations-list">
	</div>
</div>

<script>
	$("#conversation-list").height($("#users-list").height());
</script>
