/*
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// font-family: 'Quicksand', sans-serif;
// font-family: 'Bangers', cursive;
// font-family: 'Roboto', sans-serif;

$primary: #7678ed;
$secondary: #9a8c98;
$warning: #f2e863;
$danger: #f25757;
$success: #7ee781;
$info: #61e8e1;
$main: #115bae;

.btn {
    border-radius: 0 !important;
}

@import "bootstrap";
@import "../../assets/stylesheets/application.css";
@import "@fortawesome/fontawesome-free";
@import 'cards', 'nav', 'messenger', 'home';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600 !important;
}

p, a {
    font-weight: 300 !important;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.form-control {
    border-radius: 0 !important;
}

// body::-webkit-scrollbar {
//     display: none;
// }

// body {
//     -ms-overflow-style: none;
//     overflow: hidden;
// }

// FOR sessions
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.outer-container {
    width: 100%;
    height: 70%;

    .inner-container {
        width: 100%;
    }
}
.authentication {
    width: 150px;
}

.collapse-button:hover {
    cursor: pointer;
}

#review_course_cat1 {
    display: none;
    position: absolute;
}

#review_course_cat2 {
    display: none;
    position: absolute;
}
#review_course_cat3 {
    display: none;
    position: absolute;
}
#review_course_cat4 {
    display: none;
    position: absolute;
}

#review_course_cat5 {
    display: none;
    position: absolute;
}

#review_professor_cat1 {
    display: none;
    position: absolute;
}

#review_professor_cat2 {
    display: none;
    position: absolute;
}

#review_professor_cat3 {
    display: none;
    position: absolute;
}

#review_professor_cat4 {
    display: none;
    position: absolute;
}

#review_professor_cat5 {
    display: none;
    position: absolute;
}

.suggestion-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.suggestion-container > div {
    flex: 1;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 3px solid #82c0ff;

    background-color: #007bff;
}

.modal-header.edit-modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 3px solid #ffd562;
    background-color: #ffc107;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
        min-width: 800px;
    }
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#site-content::-webkit-scrollbar {
    width: 8px;
}

#site-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

#site-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: transparent;
}

#site-content.scrolling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #739ace;
}

#site-content {
    overflow-y: auto;
    overflow-x: hidden;
}

#editModal::-webkit-scrollbar {
    width: 8px;
}

#editModal::-webkit-scrollbar-track {
    border-radius: 10px;
}

#editModal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: white;
}

#editModal {
    overflow-y: scroll;
    overflow-x: hidden;
}

#formModal::-webkit-scrollbar {
    width: 8px;
}

#formModal::-webkit-scrollbar-track {
    border-radius: 10px;
}

#formModal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: white;
}

#formModal {
    overflow-y: scroll;
    overflow-x: hidden;
}

.google-auth {
    border-color: #F2F2F2;
}

.google-auth:hover {
    border-color: #4285F4;
}
.thank-you-message{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.thankyou-redirect-profile{
    text-align: center;
}

#scrollbar-area{
    z-index:1;
    position:fixed;
    right: 0;
    height:100%;
    width: 10px;
    background-color: transparent;
}

#scrollbar-area.mouse-on{
    z-index:-1;
}

#w-content-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

#w-strength-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

#w-improvement-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

#e-content-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

#e-strength-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

#e-improvement-counter{
    font-size: xx-small;
    color: lightgray;
    position:absolute;
    right: 0;
    margin-right:20px;
    margin-top: 10px;
}

.submit-error-message{
    position: relative;
    width: 100%;
    background-color: rgb(240, 169, 168);
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}


// jquery barrating css 

.br-theme-bars-square .br-widget {
    height: 15px;
    white-space: nowrap;
    padding-left: 15%;
  }
  .br-theme-bars-square .br-widget a {
    display: block;
    width: 15%;
    height: 30px;
    float: left;
    border: 2px solid #bbcefb;
    background-color: white;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    color: #bbcefb;
    font-weight: 600;
  }
  .br-theme-bars-square .br-widget a.br-active,
  .br-theme-bars-square .br-widget a.br-selected {
    border: 2px solid #4278F5;
    color: #4278F5;
  }
  .br-theme-bars-square .br-widget .br-current-rating {
    clear: both;
    width: 330px;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: .5em 0;
    color: #646464;
  }
  .br-theme-bars-square .br-readonly a {
    cursor: default;
  }
  .br-theme-bars-square .br-readonly a.br-active,
  .br-theme-bars-square .br-readonly a.br-selected {
    border: 2px solid #729bf8;
    color: #729bf8;
  }
  @media print {
    .br-theme-bars-square .br-widget a {
      border: 2px solid #b3b3b3;
      color: #b3b3b3;
    }
    .br-theme-bars-square .br-widget a.br-active,
    .br-theme-bars-square .br-widget a.br-selected {
      border: 2px solid black;
      color: black;
    }
  }

  .div-margin{
      margin-bottom: 25px;
      padding: 25px;
      border-bottom: 1px solid #ced4da;

  }

  .explanation{
      font-size: 12px;
      color: grey;
      padding: 10px;
      padding-bottom: 20px;
  }

#show-mobile {
    display: none !important;
}

@media screen and (max-width: 500px) {
    #hide-mobile-small {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    #hide-mobile {
        display: none !important;
    }

    #show-mobile {
        display: block !important; 
    }
}