
.messenger-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.messenger-container .card {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
}

.messages-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-sent {
    background-color: #d9edf7;
    border-color: #bce8f1;
    margin: 5px 20px;
    padding: 15px;
}

.message-received {
    background-color: #f1f0f0;
    border-color: #eeeeee;
    margin: 5px 20px;
    padding: 15px;
}

.fa-paper-plane {
    color: #0080ff;
}

.fa-paper-plane:hover {
    color: #73c2fb;
}

.user-card-icon {
    opacity: 0;
}

.list-group-item:hover .user-card-icon {
    opacity: 1;
}