nav {
    background-color: #003478;
    height: 10vh;
}

.logo {
    color: white;
    width: 33.3%;
}

.nav-content {
    width: 66.7%;
}

.search-form {
    width: 65%;
}

.nav-links {
    width: inherit;
}