nav {
    background-color: #003478;
    height: 10vh;
}

.logo {
    width: 33.3%;
}

.nav-content {
    width: 66.7%;
}

.search-form {
    width: 65%;
}

.nav-links {
    width: inherit;
}

.nav-title {
    font-family: 'Bangers', cursive;
    color: white;
}

.nav-text {
    color: white !important;
}

.nav-review-text {
    color: white;
    border: solid transparent 1px;
}

.nav-review-text:hover {
    border-color: white;
}

.nav-mobile-container a, .nav-mobile-container button {
    margin: 20px auto;
    font-size: 20px;
}

#show-mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .nav-review-text {
        color: black !important;
        border: solid transparent 1px;
    }

    #show-mobile {
        display: block !important;
    }
}

@media screen and (min-width: 768px) {
    #hide-mobile {
        display: none !important;
    }
}
