<h3>Hello <%= @resource.show_full_name %>!</h3>

<p>Someone has requested a link to <i>change your password</i> for your account at Brandeis Rate My Professor. You can do this through the link below.</p>

<p>
    <%= link_to edit_password_url(@resource, reset_password_token: @token) do %>
        <strong><u>Change Your Password</u><strong>
    <% end %>
</p>

<p>If you didn't request this, please <i>ignore this email</i>.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
