<div class = "container">
    <div class = "thankyou-message">
            Thank you for submitting your review.
    </div>
    <div class = "thankyou-redirect-profile">
            <%= button_to  "View Review", "/view_profile", method: :get, class: "dropdown-item" %>            
    </div>   
</div>