<div class = "container">
    <div class = "row">
        <div class = "col text-center">
            Thank you for submitting your review.
        </div>
    </div>
    <div class = "row">
        <div class = "col text-center">         
            <%= button_to  "View Review", "/view_profile", method: :get, class: "dropdown-item" %>            
        </div>
    </div>
</div>