$('select#review_professor_id').html('<option>Select A Professor</option>')
$('select#review_professor_id').append('<%= j options_from_collection_for_select(@filtered_professor, :id, :show_name) %>')
$('#review_professor_id').prop('disabled',false);