<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review_form.review %>
</p>

<%= link_to 'Edit', edit_review_form_path(@review_form) %> |
<%= link_to 'Back', review_forms_path %>
